header nav.menu{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    /*background: #f9f9f9;*/
    background: linear-gradient(to top, rgba(246,246,246,1) -80% ,rgba(0,0,0,0) 70%);
}

header nav.menu li{
    margin: 0px 15px;
}

header nav.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: #2f3638;
    display: inline-block;
    padding: 10px 15px;
}
header nav.menu li a:hover{
    color:#0bb1e8;
}

header nav.menu li.active a{
    color: #0bb1e8;
}
